#body {
    background-color: black;
}

#campo {
    margin-left: 0px;
    margin-right: 15rem;
    border-radius: 50rem;
    border-style: none;
}

#n1 {
    margin-left: 40rem;
    border-radius: 10px;
    block-size: 2rem;
    width: 70px;
    height: 70px;
}

#n2 {
    border-radius: 10px;
        block-size: 2rem;
        width: 70px;
        height: 70px;
}

#n3 {
    border-radius: 10px;
        block-size: 2rem;
        width: 70px;
        height: 70px;
}
#n4 {
    border-radius: 10px;
        block-size: 2rem;
        width: 70px;
        height: 70px;
}

#n5 {
    margin-left: 40rem;
    border-radius: 10px;
        block-size: 2rem;
        width: 70px;
        height: 70px;
}

#n6 {
    border-radius: 10px;
        block-size: 2rem;
        width: 70px;
        height: 70px;
}

#n7 {
    border-radius: 10px;
        block-size: 2rem;
        width: 70px;
        height: 70px;
}

#n8 {
    border-radius: 10px;
        block-size: 2rem;
        width: 70px;
        height: 70px;
}

#n9 {
    margin-left: 40rem;
    border-radius: 10px;
        block-size: 2rem;
        width: 70px;
        height: 70px;
}

#n0{
    border-radius: 10px;
        block-size: 2rem;
        width: 70px;
        height: 70px;
}

#n0:hover {
    background-color: #FF00FF;
}

#n4:hover {
    background-color: #FF00FF;
}

#n2:hover {
    background-color: #FF00FF;
}

#n3:hover {
    background-color: #FF00FF;
}

#n5:hover {
    background-color: #FF00FF;
}

#n5:hover {
    background-color: #FF00FF;
}

#n6:hover {
    background-color: #FF00FF;
}

#n7:hover {
    background-color: #FF00FF;
}

#n8:hover {
    background-color: #FF00FF;
}

#n9:hover {
    background-color: #FF00FF;
}

#dec{
border-radius: 10px;
    block-size: 2rem;
    width: 70px;
    height: 70px;
}

#sum{
    border-radius: 10px;
        block-size: 2rem;
        width: 70px;
        height: 70px;
}

#subtract {
    margin-left: 40rem;
    border-radius: 10px;
        block-size: 2rem;
        width: 70px;
        height: 70px;
}

#calcular {
    margin-left: 40rem;
    border-radius: 5rem;
    block-size: 2rem;
}

#multi{
    border-radius: 10px;
        block-size: 2rem;
        width: 70px;
        height: 70px;
}

#divide{
    border-radius: 10px;
        block-size: 2rem;
        width: 70px;
        height: 70px;
}

#C{
    border-radius: 10px;
        block-size: 2rem;
        width: 70px;
        height: 70px;
}

#field1 {
    margin-left: 40rem;
    block-size: 2rem;
    background-color: #00BFFF;
    margin-right: 500px;
    width: 250px;

}

#tittle {
    color: #00BFFF;
    margin-left: 35rem;
    font-size: 50px;
    block-size: 2rem;
    font-family: Comic Sans MS,
        Comic Sans,
        cursive;
}

#navHeader{
    background-color: #00BFFF;
}

#footer{
    background-color: #00BFFF;
}

#link{
color: blue;
}
